body {
    font-family: 'Quicksand', sans-serif;
}

.main-wrapper {
    background-color: white;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    ;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.layout {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.cell {
    width: 120px;
    height: 120px;
    background-color: #eee;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}

.startBtn {
    text-align: center;
    margin-bottom: 30px;

}

.start-button {
    background-color: rgb(94, 201, 94);
    padding: 8px 14px;
    border-radius: 8px;
    text-align: center;
    color: rgb(243, 241, 241);
    font-weight: bold;
    min-width: 120px;
    font-size: 16px;
    width: auto;
    border: none;
}

.dong-ho .guide-box {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 14px;
}

.dong-ho {
    padding: 12px;
    background-color: rgb(203, 240, 203);
    text-align: center;
    border-radius: 9px;
    font-weight: bold;
    color: rgb(52,51,51);
}

.time-box {
    background-color: rgb(203, 240, 203);
    padding: 12px;
    text-align: center;
    border-radius: 9px;
    font-weight: bold;
    color: rgb(52, 51, 51);
    font-size: 16px;
}

.time-text {
    font-size: 20px;
    font-weight: bold;
}

.guide-box {
    background-color: rgb(254, 251, 251);
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.key {
    background-color: lightgrey;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.key-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.arrow-button {
    background-color: lightgray;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.center {
    justify-content: center;
}

.history-wrapper {
    background-color: #f9fbfe;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 16px;
    margin-top: 24px;
    width: 100%;
}

.history-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
    padding-left: 16px;
    text-align: center;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
}

.history-table th {
    background-color: #e7e8eb;
    text-align: left;
    padding: 8px;
    font-weight: 600;
}

.history-table td {
    padding: 12px;
    border-top: 1px solid #e5e7eb;
}

.game-board-wrapper {
    background-color: #f3f4f6;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.side-box {
    background-color: white;
    padding: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cell-1 {
    background-color: #d5f9e1;
    color: green;
}

.cell-2 {
    background-color: #f1e1e1;
    color: rgb(229, 115, 134);
}

.cell-3 {
    background-color: #d7e6f5;
    color: rgb(127, 127, 190);
}

.cell-4 {
    background-color: #e7ddf5;
    color: purple;
}

.cell-5 {
    background-color: #f9f4db;
    color: rgb(206, 206, 120);
}

.cell-6 {
    background-color: #f1dbe9;
    color: orchid;
}

.cell-7 {
    background-color: #d3d9f5;
    color: blue;
}

.cell-8 {
    background-color: rgb(228, 228, 228);
    color: grey;
}

.cell-9 {
    background-color: #c9fddc;
    color: rgb(28, 150, 28);
}

.cell-10 {
    background-color: #f5efcb;
    color: rgb(181, 181, 45);
}

.cell-11 {
    background-color: #e5f3cb;
    color: rgb(109, 160, 31);
}

.cell-empty {
    background-color: black;
}
.bg-green {
    background-color: #4caf50;
    color: white;
}
.bg-red{
    background-color: #f44336;
    color: white;
}
#win-message{
    font-size: 20px;
    margin-top: 8px;
}